body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.375;
  min-height: 100%;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
@media screen and (max-width: 575px) {
  body {
    font-size: 14px;
    font-size: clamp(14px, 4.3vw, 16px);
  }
}

img {
  max-width: 100%;
}

a {
  transition-duration: 0.3s;
  transition-property: color;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.owl-prev {
  margin-right: 32px;
}

.owl-prev, .owl-next {
  background-color: #FFFFFF !important;
  border-radius: 50%;
  transition: 0.3s;
}
.owl-prev svg path, .owl-next svg path {
  fill: #000;
}
.owl-prev:hover, .owl-next:hover {
  background-color: #F14A16 !important;
}
.owl-prev:hover svg path, .owl-next:hover svg path {
  fill: #fff;
}

.fancybox-slide:before {
  margin-right: 0 !important;
}

.padding {
  padding: 92px 0;
}
@media screen and (max-width: 767px) {
  .padding {
    padding: 56px 0;
  }
}
.padding--bottom {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .padding--bottom {
    padding-top: 0;
  }
}
.padding--top {
  padding-bottom: 0;
}
@media screen and (max-width: 767px) {
  .padding--top {
    padding-bottom: 0;
  }
}

.main {
  padding-top: 127.48px;
}
@media screen and (max-width: 1399px) {
  .main {
    padding-top: 112.41px;
  }
}
@media screen and (max-width: 1199px) {
  .main {
    padding-top: 128px;
  }
}
@media screen and (max-width: 991px) {
  .main {
    padding-top: 79.25px;
  }
}
@media screen and (max-width: 575px) {
  .main {
    padding-top: 62.95px;
  }
}

.main-block {
  display: block;
  background-image: url("../img/background-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 186px 0 331px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .main-block {
    padding: 72px 0 60px;
  }
}
@media screen and (max-width: 767px) {
  .main-block {
    background-position: center;
  }
}
.main-block__title {
  color: #FFFFFF;
  margin-bottom: 32px;
}
@media screen and (max-width: 991px) {
  .main-block__title {
    margin-bottom: 8px;
  }
}
.main-block__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  color: #C1C1C1;
  margin-bottom: 64px;
}
@media screen and (max-width: 991px) {
  .main-block__subtitle {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 575px) {
  .main-block__subtitle {
    font-size: 14px;
    margin-bottom: 29px;
  }
}
.main-block__btn.btn {
  margin: 0 auto;
  padding: 13.5px 119px;
}
@media screen and (max-width: 767px) {
  .main-block__btn.btn {
    padding: 10px 29px;
  }
}

.services {
  background: #F4F6FC;
}
.services__title {
  text-align: center;
  margin-bottom: 66px;
}
@media screen and (max-width: 991px) {
  .services__title {
    margin-bottom: 24px;
  }
}

.services-card {
  margin-bottom: 92px;
}
@media screen and (max-width: 767px) {
  .services-card {
    margin-bottom: 53px;
  }
  .services-card:last-child {
    margin-bottom: 56px;
  }
}
.services-card__img img {
  border-radius: 12px;
}
.services-card__title {
  margin-top: 33px;
  max-width: 584px;
}
@media screen and (max-width: 767px) {
  .services-card__title {
    margin-top: 16px;
    max-width: inherit;
  }
}
.services-card__title.grey {
  color: #C1C1C1;
}
.services-card__text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #030211;
  opacity: 0.7;
  max-width: 584px;
}
@media screen and (max-width: 991px) {
  .services-card__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .services-card__text {
    margin-top: 8px;
    max-width: inherit;
  }
}
@media screen and (max-width: 575px) {
  .services-card__text {
    font-size: 14px;
  }
}
.services-card__text.grey {
  color: #C1C1C1;
  opacity: 0.7;
}

@media screen and (max-width: 575px) {
  .working {
    padding-bottom: 86px;
  }
}
.working__title {
  text-align: center;
  margin-bottom: 54px;
}
@media screen and (max-width: 575px) {
  .working__title {
    margin-bottom: 24px;
  }
}

.working-steps {
  text-align: center;
}
.working-steps__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 27.216px;
  margin-bottom: 17.5px;
}
@media screen and (max-width: 575px) {
  .working-steps__text {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 11px;
  }
}
.working-steps__text-link {
  cursor: pointer;
  color: #F14A16;
  text-decoration: underline;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.working-steps__img {
  position: relative;
  margin-bottom: 85.5px;
}
@media screen and (max-width: 575px) {
  .working-steps__img {
    margin-bottom: 26px;
  }
}
.working-steps__img img {
  border-radius: 9.673px;
}
@media screen and (max-width: 575px) {
  .working-steps__img img {
    border-radius: 2.61px;
    width: 100%;
  }
}
.working-steps__img-text {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 40px;
  font-weight: 800;
  line-height: 47.96px;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .working-steps__img-text {
    font-size: 24px;
    line-height: 1;
  }
}
@media screen and (max-width: 575px) {
  .working-steps__img-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    bottom: 6px;
  }
}
.working-steps__arrow {
  margin-bottom: 18.5px;
}
@media screen and (max-width: 575px) {
  .working-steps__arrow {
    margin-bottom: 12px;
  }
}
.working-steps__final {
  display: flex;
  justify-content: center;
}
.working-steps__final-text {
  margin: 0 35px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.216px;
  color: #F14A16;
  text-align: center;
  background-image: url("../img/steps-final.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1199px) {
  .working-steps__final-text {
    margin: 0 122px;
  }
}
@media screen and (max-width: 991px) {
  .working-steps__final-text {
    margin: 0 65px;
  }
}
@media screen and (max-width: 767px) {
  .working-steps__final-text {
    margin: 0 20px;
  }
}
@media screen and (max-width: 575px) {
  .working-steps__final-text {
    width: 105px;
    height: 105px;
    font-size: 14px;
    line-height: 13.608px;
    margin: 0 17px;
  }
}
.working-steps__relative {
  position: relative;
}
.working-steps__relative .working-steps__arrow {
  margin: 0;
  text-align: center;
}
.working-steps__relative .working-steps__arrow--left {
  margin-left: 30px;
}
.working-steps__relative .working-steps__arrow--right {
  margin-right: 30px;
}
.working-steps__relative .working-steps__final-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

.advantages {
  background: #F4F6FC;
  padding-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .advantages {
    padding-bottom: 24px;
  }
}
.advantages__title {
  text-align: center;
  margin-bottom: 66px;
}
@media screen and (max-width: 991px) {
  .advantages__title {
    margin-bottom: 24px;
  }
}

.advantages-card {
  border-radius: 10.272px;
  background-color: #FFFFFF;
  padding: 38px 24px 47px;
  text-align: center;
  height: calc(100% - 48px);
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .advantages-card {
    height: inherit;
  }
}
@media screen and (max-width: 575px) {
  .advantages-card {
    padding: 16px 32px;
    text-align: left;
    height: 246px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 575px) {
  .advantages-card__img {
    text-align: center;
  }
}
.advantages-card__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 26px;
}
@media screen and (max-width: 575px) {
  .advantages-card__title {
    margin-top: 14px;
    font-size: 20px;
  }
}
.advantages-card__text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 575px) {
  .advantages-card__text {
    font-size: 14px;
  }
}

.callback-section {
  background: #F4F6FC;
}
.callback-section__title {
  margin-top: -14px;
  margin-bottom: 9px;
}
@media screen and (max-width: 1399px) {
  .callback-section__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .callback-section__title {
    font-size: 52px;
    line-height: normal;
  }
}
@media screen and (max-width: 991px) {
  .callback-section__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 575px) {
  .callback-section__title {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
  }
}
.callback-section__subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 60px;
  color: #7C7C7C;
}
@media screen and (max-width: 991px) {
  .callback-section__subtitle {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 575px) {
  .callback-section__subtitle {
    margin-bottom: 24px;
    font-size: 14px;
    color: #030211;
    text-align: center;
  }
}
.callback-section__form {
  max-width: 755px;
  margin: 0 auto;
}
.callback-section__form-input.form__input {
  background-color: #FFFFFF;
}
.callback-section__form-label.form__label {
  color: #20102B;
}
.callback-section__form-btn.form__btn {
  max-width: 100%;
  padding: 9.5px 63px;
}
@media screen and (max-width: 575px) {
  .callback-section__form-btn.form__btn {
    padding: 11.5px 63px;
  }
}

.reviews {
  background: #484848;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .reviews {
    background: #F4F6FC;
  }
}
.reviews__title {
  text-align: center;
  margin-bottom: 152px;
}
@media screen and (max-width: 767px) {
  .reviews__title {
    display: block;
    margin-bottom: 24px;
  }
}
.reviews__title h2 {
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .reviews__title h2 {
    color: #030211;
    text-align: center;
  }
}
.reviews__btn {
  padding: 5.5px 44px !important;
  margin: 0 auto;
  margin-top: 62px;
  border-color: rgba(255, 255, 255, 0) !important;
}
@media screen and (max-width: 767px) {
  .reviews__btn {
    margin-top: 32px;
    padding: 12.5px 35px !important;
  }
}

.reviews-carousel .owl-stage-outer {
  overflow: visible;
}
.reviews-carousel .owl-nav {
  position: absolute;
  top: -84px;
  right: 0;
}
@media screen and (max-width: 1199px) {
  .reviews-carousel .owl-item > div {
    width: 100% !important;
    margin-right: 11px;
  }
}
@media screen and (max-width: 355px) {
  .reviews-carousel .owl-item > div {
    width: 280px !important;
  }
}
.reviews-carousel__card {
  box-shadow: 0px 26.6037731171px 66.5094299316px 0px rgba(18, 17, 39, 0.08);
  border-radius: 15.962px;
  background-color: #FFFFFF;
  padding: 24px;
  height: 351px;
  margin-right: 24px;
}
@media screen and (max-width: 1199px) {
  .reviews-carousel__card {
    height: 400px;
    margin-right: 11px;
  }
}
@media screen and (max-width: 767px) {
  .reviews-carousel__card {
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
  }
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card {
    height: 264px;
    padding: 16px;
  }
}
@media screen and (max-width: 355px) {
  .reviews-carousel__card {
    width: 280px;
    height: 315px;
  }
}
.reviews-carousel__card-header {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card-header {
    margin-bottom: 19px;
  }
}
.reviews-carousel__card-img {
  width: 65px;
  height: 65px;
  margin-right: 21px;
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card-img {
    width: 49px;
    height: 49px;
    margin-right: 16px;
  }
}
.reviews-carousel__card-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 27.216px;
  margin-bottom: 7.8px;
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card-name {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 7px;
  }
}
.reviews-carousel__card-rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.reviews-carousel__card-star {
  width: 26.5px;
  height: 26.5px;
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card-star {
    width: 20px;
    height: 20px;
  }
}
.reviews-carousel__card-text {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 575px) {
  .reviews-carousel__card-text {
    font-size: 14px;
  }
}

.btn {
  font-family: "Nunito", sans-serif;
  min-width: 242px;
  background-color: #F14A16;
  color: #FFFFFF;
  flex-shrink: 0;
  border-radius: 4px;
  transition: all 0.3s;
  display: block;
  text-align: center;
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding: 16px 63px;
  max-width: fit-content;
  cursor: pointer;
  border: 1px solid #F14A16;
}
.btn:hover {
  background-color: #FFFFFF;
  color: #030211;
}
.btn--large {
  font-size: 24px;
  line-height: 27.216px;
}
.btn--xlarge {
  font-size: 32px;
}
@media screen and (max-width: 575px) {
  .btn {
    font-size: 14px;
    padding: 9px 25px;
  }
}
.btn--white {
  background-color: #FFFFFF;
  color: #030211;
}
.btn--white:hover {
  background-color: #F14A16;
  color: #FFFFFF;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}
.dropdown__btn {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0 20px 0 0;
}
@media screen and (max-width: 575px) {
  .dropdown__btn {
    font-size: 16px;
  }
}
.dropdown__btn:hover, .dropdown__btn:focus {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown__btn::after {
  content: url("../img/arrow-down.svg");
  display: block;
  pointer-events: none;
  position: absolute;
  right: -5px;
  top: 0;
  transition: all 0.15s ease-in-out;
}
@media screen and (max-width: 575px) {
  .dropdown__btn::after {
    right: -4px;
    top: -2px;
  }
}
.dropdown__btn .open:after {
  transform: rotate(-135deg);
}
.dropdown__content {
  display: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  min-width: 216px;
  overflow: auto;
  right: 0;
  z-index: 1;
  padding: 8px 0;
}
.dropdown__item {
  color: #000;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}
.dropdown__item:hover {
  background-color: #F14A16;
  color: #FFFFFF;
}
.dropdown.show .dropdown__content {
  display: block;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.eot");
  src: url("../fonts/Nunito-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.eot");
  src: url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 13px 0 16px;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 4;
}
@media screen and (max-width: 575px) {
  .header {
    padding: 15px 0 16px;
    height: 62.95px;
  }
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__phone {
  display: flex;
  align-items: center;
  margin-right: 31px;
}
.header__phone a {
  color: #030211;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
  margin-left: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
@media screen and (max-width: 1399px) {
  .header__phone a {
    font-size: 19px;
  }
}
.header__phone a:hover {
  border-bottom: 1px solid #030211;
}
.header__callback {
  font-size: 20px;
  font-weight: 500;
  min-width: 172px;
  margin-right: 24px;
  padding: 8.5px 38px;
}
@media screen and (max-width: 1199px) {
  .header__logo {
    margin-left: 12px;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    max-width: 100px;
  }
}
@media screen and (max-width: 575px) {
  .header__logo {
    max-width: 63.61px;
  }
}
.header__icon {
  margin-right: 16px;
}

.menu-btn {
  width: 42px;
  height: 26px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
}
@media screen and (max-width: 575px) {
  .menu-btn {
    width: 27px;
    height: 16px;
  }
}
.menu-btn span {
  display: block;
  position: absolute;
  height: 1.91px;
  width: 100%;
  background: #484848;
  border-radius: 0.381px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.menu-btn span:nth-child(1) {
  top: 0px;
}
.menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
  top: 12px;
}
@media screen and (max-width: 575px) {
  .menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
    top: 7px;
  }
}
.menu-btn span:nth-child(4) {
  top: 24px;
}
@media screen and (max-width: 575px) {
  .menu-btn span:nth-child(4) {
    top: 14px;
  }
}
.menu-btn.open span:nth-child(1), .menu-btn.open span:nth-child(1), .menu-btn.opened span:nth-child(1), .menu-btn.opened span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}
.menu-btn.open span:nth-child(2), .menu-btn.open span:nth-child(2), .menu-btn.opened span:nth-child(2), .menu-btn.opened span:nth-child(2) {
  transform: rotate(45deg);
}
.menu-btn.open span:nth-child(3), .menu-btn.open span:nth-child(3), .menu-btn.opened span:nth-child(3), .menu-btn.opened span:nth-child(3) {
  transform: rotate(-45deg);
}
.menu-btn.open span:nth-child(4), .menu-btn.open span:nth-child(4), .menu-btn.opened span:nth-child(4), .menu-btn.opened span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 83.088px;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 60px;
    line-height: normal;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 46px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 83.088px;
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 40px;
    line-height: normal;
  }
}
@media screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 27.216px;
}
@media screen and (max-width: 575px) {
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar {
  width: 100%;
  max-width: 702px;
  padding: 72px 64px;
  background-color: #030211;
  background-image: url("../img/ellipse-menu.png");
  background-size: 435px;
  background-repeat: no-repeat;
  background-position: top right;
  position: fixed;
  z-index: 3;
  height: calc(100% - 127px);
  left: -702px;
  top: 0;
  transition: left 0.3s ease;
  overflow: auto;
  margin-top: 127px;
  scrollbar-color: #C1C1C1 #FFFFFF;
}
@media screen and (max-width: 1399px) {
  .sidebar {
    margin-top: 112.41px;
    height: calc(100% - 112.41px);
  }
}
@media screen and (max-width: 1199px) {
  .sidebar {
    margin-top: 128px;
    height: calc(100% - 128px);
  }
}
@media screen and (max-width: 991px) {
  .sidebar {
    margin-top: 79.25px;
    height: calc(100% - 79.25px);
  }
}
@media screen and (max-width: 767px) {
  .sidebar {
    padding: 53px 32px;
    max-width: 500px;
    left: -500px;
  }
}
@media screen and (max-width: 575px) {
  .sidebar {
    margin-top: 62.94px;
    height: calc(100% - 62.94px);
  }
}
.sidebar.show {
  left: 0px;
}
.sidebar .menu-btn {
  position: absolute;
  top: 47px;
  right: 47px;
}
@media screen and (max-width: 767px) {
  .sidebar .menu-btn {
    width: 20px;
    height: 20px;
    top: 21px;
    right: 16px;
  }
}
.sidebar .menu-btn span {
  background-color: #FFFFFF;
}
.sidebar__title {
  color: #FFFFFF;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .sidebar__title {
    font-size: 20px;
  }
}
.sidebar--right {
  left: inherit;
  right: -702px;
  transition: right 0.3s ease;
}
@media screen and (max-width: 767px) {
  .sidebar--right {
    max-width: 500px;
    right: -500px;
  }
}
.sidebar--right.show {
  left: inherit;
  right: 0;
}
.sidebar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #C1C1C1;
}
.sidebar::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.sidebar-list__item {
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .sidebar-list__item {
    margin-bottom: 16px;
  }
}
.sidebar-list__item:last-child {
  margin-bottom: 0;
}
.sidebar-list__link {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}
@media screen and (max-width: 767px) {
  .sidebar-list__link {
    font-size: 14px;
  }
}
.sidebar-list__link:hover {
  text-decoration-color: #fff;
  text-decoration: underline;
}

.sidebar-contacts {
  margin-top: 72px;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts {
    margin-top: 48px;
  }
}
.sidebar-contacts__item {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 24px;
  margin-left: -15px;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts__item {
    margin-bottom: 8px;
  }
}
.sidebar-contacts__item:last-child {
  margin-bottom: 0;
}
.sidebar-contacts__item a {
  color: #FFFFFF;
}
.sidebar-contacts__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts__title {
    font-size: 16px;
  }
}
.sidebar-contacts__info {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts__info {
    font-size: 14px;
    font-weight: 700;
  }
}
.sidebar-contacts__mail {
  font-size: 24px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts__mail {
    font-size: 14px;
    font-weight: 700;
  }
}
.sidebar-contacts__icon {
  margin-right: 24px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .sidebar-contacts__icon {
    width: 46px;
    margin-right: 12px;
  }
}

.sidebar-menu .sidebar-list {
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .sidebar-menu .sidebar-list {
    margin-bottom: 32px;
  }
}
.sidebar-menu__title {
  margin-top: 103px;
  margin-bottom: 29.5px;
}
@media screen and (max-width: 767px) {
  .sidebar-menu__title {
    margin: 48px 0 25px;
  }
}

body.sidebar-opened {
  overflow: hidden;
}

.hidden-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  visibility: hidden;
}
.hidden-overlay.show {
  visibility: visible;
  opacity: 0.3;
  pointer-events: all;
  transition: 0.3s all;
}

.form__label {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.216px;
  color: #FFFFFF;
}
@media screen and (max-width: 575px) {
  .form__label {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 6px;
  }
}
.form__input {
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: #20102B;
  outline: none;
  width: 100%;
  font-size: 16px;
}
@media screen and (max-width: 575px) {
  .form__input {
    font-size: 12px;
    padding: 8px 9px;
  }
}
.form__input-error {
  font-size: 12px;
  color: #CC3237;
  font-weight: 400;
  margin-top: 4px;
  position: absolute;
  bottom: -17px;
  left: 0;
}
.form__input.invalid {
  border: 1px solid #DB371F;
}
.form__input-icon {
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 18px;
}
.form__input-wrap {
  position: relative;
}
.form__input::-webkit-input-placeholder {
  color: #9B959F;
}
.form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9B959F;
  opacity: 1;
}
.form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9B959F;
  opacity: 1;
}
.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9B959F;
}
.form__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #9B959F;
}
.form__input::placeholder { /* Most modern browsers support this now. */
  color: #9B959F;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  width: 100%;
}
@media screen and (max-width: 575px) {
  .form__wrap {
    margin-bottom: 16.55px;
  }
}
.form__wrap:first-child {
  margin-right: 21px;
}
@media screen and (max-width: 575px) {
  .form__wrap:first-child {
    margin-right: 11px;
  }
}
.form__flex {
  display: flex;
  justify-content: space-between;
}
.form__btn {
  margin-top: 8px;
  width: 100%;
  padding: 14.5px 64px;
}
.form__textarea {
  text-transform: inherit;
  padding: 16px;
  min-height: 199px;
  resize: none;
}
@media screen and (max-width: 767px) {
  .form__textarea {
    min-height: 103px;
  }
}
@media screen and (max-width: 575px) {
  .form__textarea {
    font-size: 12px;
    padding: 8px 9px;
  }
}
.form__politic {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #030211;
}
@media screen and (max-width: 575px) {
  .form__politic {
    margin-top: 8px;
    font-size: 14px;
  }
}
.form__politic a {
  color: #030211;
  border-bottom: 1px solid #030211;
  line-height: 1;
  display: inline-block;
  transition: all 0.3s;
}
.form__politic a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.give-rating {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .give-rating {
    display: block;
  }
}
.give-rating__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  margin: 0 30px 0 0;
}
@media screen and (max-width: 575px) {
  .give-rating__text {
    margin: 0 0 9px 0;
  }
}
.give-rating__star {
  display: flex;
  align-items: center;
  user-select: none;
}
.give-rating__icon {
  fill: #DFDFDF;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: fill 0.3s;
}
@media screen and (max-width: 575px) {
  .give-rating__icon {
    width: 25px;
    height: 25px;
  }
}
.give-rating__icon:hover path {
  fill: #F14A16;
}
.give-rating__icon.active > path {
  fill: #F14A16;
}

.popup {
  border-radius: 4px;
  border: 0.8px solid #C1C1C1;
}
.popup .fancybox-close-small {
  right: 30px;
  top: 32px;
  padding: 0;
  width: 37px;
  height: 37px;
}
@media screen and (max-width: 575px) {
  .popup .fancybox-close-small {
    width: 32px;
    height: 32px;
    top: 16px;
    right: 16px;
  }
}
.popup .fancybox-close-small svg {
  fill: #000;
  opacity: 1;
  stroke-width: 1;
  stroke: #000;
}

.popup-sended__icon img {
  margin: 0 auto;
  display: block;
  margin-bottom: 38px;
}
.popup-sended__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 27.216px;
  margin-bottom: 20px;
  color: #030211;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .popup-sended__title {
    font-size: 24px;
    line-height: 1;
  }
}
@media screen and (max-width: 575px) {
  .popup-sended__title {
    font-size: 16.41px;
  }
}
.popup-sended__line {
  display: block;
  background: #DADADA;
  height: 1px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media screen and (max-width: 575px) {
  .popup-sended__line {
    max-width: 388.91px;
  }
}
.popup-sended__text {
  font-weight: 400;
  text-align: center;
  max-width: 423px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .popup-sended__text {
    font-size: 16px;
  }
}
.popup-sended__text.min {
  margin-top: 132px;
}
@media screen and (max-width: 767px) {
  .popup-sended__text.min {
    margin-top: 13px;
  }
}
.popup-sended__social {
  display: flex;
  justify-content: center;
}
.popup-sended__social a {
  margin-right: 27px;
}
@media screen and (max-width: 575px) {
  .popup-sended__social a {
    margin-right: 25px;
  }
}
.popup-sended__social a:last-child {
  margin-right: 0;
}

.review-success {
  border-radius: 4px;
  border: 0.8px solid var(--black-and-grey-d, #C1C1C1);
}
@media screen and (max-width: 575px) {
  .review-success {
    padding-left: 19px;
    padding-right: 19px;
    border-radius: 20px 20px 0px 0px;
    border: none;
  }
}

.review-popup {
  padding: 32px 32px 64px;
  max-width: 724px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .review-popup {
    padding: 24px 16px 40px;
  }
}
.review-popup__title.sidebar__title {
  color: #000000;
  margin-bottom: 73px;
  font-size: 32px;
}
@media screen and (max-width: 575px) {
  .review-popup__title.sidebar__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
}
.review-popup__form-label.form__label {
  color: #000000;
}
.review-popup__form-wrap.form__wrap {
  margin-bottom: 36px;
}
@media screen and (max-width: 767px) {
  .review-popup__form-wrap.form__wrap {
    margin-bottom: 16px;
  }
}
.review-popup__form-btn.form__btn {
  max-width: 100%;
  padding: 9.5px 63px;
}

.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateX(0);
}

.fancybox-fx-slide-in-up.fancybox-slide--previous {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-up.fancybox-slide--next {
  transform: translateY(100%);
}

.fancybox-fx-slide-in-up.fancybox-slide--current {
  transform: translateY(0);
}

.popup-callback {
  padding: 9px 0 40px;
  background-color: #121026;
  background-image: url("../img/ellipse-callback.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  border: none;
  max-width: 702px;
  width: 100%;
}
@media screen and (max-width: 575px) {
  .popup-callback {
    padding: 3px 0 24px;
  }
}
.popup-callback__wrap {
  margin-top: -90px;
  padding: 0 64px;
}
@media screen and (max-width: 575px) {
  .popup-callback__wrap {
    padding: 0 24px;
    margin-top: 12px;
  }
}
.popup-callback__title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 47.96px;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .popup-callback__title {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 575px) {
  .popup-callback__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
  }
}
.popup-callback__subtitle {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 575px) {
  .popup-callback__subtitle {
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: -8px;
  }
}
.popup-callback--thanks {
  background-color: #FFFFFF;
  background-image: inherit;
  padding: 54px 42px 33px;
  max-width: 547px;
}
.popup-callback--thanks .popup-sended__text:last-child {
  margin-top: 175px;
}
.popup-callback__form {
  margin-bottom: 91px;
}
@media screen and (max-width: 767px) {
  .popup-callback__form {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 575px) {
  .popup-callback__form {
    margin-bottom: 50px;
  }
}
.popup-callback__form-btn.form__btn {
  max-width: 100%;
  padding: 13.5px 19px;
}
@media screen and (max-width: 767px) {
  .popup-callback__form-btn.form__btn {
    padding: 6.5px 29px;
  }
}
@media screen and (max-width: 575px) {
  .popup-callback__form-btn.form__btn {
    margin-top: 0;
  }
}
.popup-callback__form-input {
  color: #FFFFFF !important;
}
.popup-callback .form__politic {
  color: #7C7C7C;
}
.popup-callback .form__politic a {
  color: #7C7C7C;
  border-color: #7C7C7C;
}
.popup-callback .form__wrap {
  margin-bottom: 24px;
}
.popup-callback__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .popup-callback__social {
    justify-content: start;
  }
}
.popup-callback__social .phone {
  width: 28px;
}
.popup-callback__social a {
  margin-right: 27px;
}
@media screen and (max-width: 575px) {
  .popup-callback__social a {
    margin-right: 25px;
  }
}
.popup-callback__social a:last-child {
  margin-right: 0;
}
.popup-callback .fancybox-close-small {
  width: 61px;
  height: 61px;
  right: 16px;
  top: 16px;
}
@media screen and (max-width: 575px) {
  .popup-callback .fancybox-close-small {
    width: 32.759px;
    height: 32.759px;
  }
}
.popup-callback .fancybox-close-small svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  width: 61px;
  height: 61px;
}
@media screen and (max-width: 575px) {
  .popup-callback .fancybox-close-small svg {
    width: 32.759px;
    height: 32.759px;
  }
}

.form-success {
  padding: 97px 0 40px;
  background-color: #121026;
  background-image: url("../img/ellipse-callback.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  border: none;
  max-width: 702px;
  width: 100%;
  color: #FFFFFF;
}
@media screen and (max-width: 575px) {
  .form-success {
    padding: 58px 0 24px;
  }
}
@media screen and (max-width: 575px) {
  .form-success .popup-sended__icon img {
    margin-bottom: 32px;
    max-width: 58px;
  }
}
.form-success .popup-sended__title {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 28px;
}
@media screen and (max-width: 575px) {
  .form-success .popup-sended__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.form-success .popup-sended__line {
  margin-bottom: 34px;
  max-width: 473px;
}
@media screen and (max-width: 575px) {
  .form-success .popup-sended__line {
    max-width: 265px;
    margin-bottom: 24px;
  }
}
.form-success .popup-sended__text {
  color: #FFFFFF;
  font-size: 24px;
}
@media screen and (max-width: 575px) {
  .form-success .popup-sended__text {
    font-size: 14px;
    color: #C1C1C1;
  }
}
.form-success .popup-sended__social {
  margin-top: 262px;
}
@media screen and (max-width: 575px) {
  .form-success .popup-sended__social {
    margin-top: 211px;
  }
}
.form-success .popup-sended__social .phone {
  width: 28px;
}
.form-success .fancybox-close-small {
  width: 61px;
  height: 61px;
  right: 16px;
  top: 16px;
}
@media screen and (max-width: 575px) {
  .form-success .fancybox-close-small {
    width: 32.759px;
    height: 32.759px;
  }
}
.form-success .fancybox-close-small svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  width: 61px;
  height: 61px;
}
@media screen and (max-width: 575px) {
  .form-success .fancybox-close-small svg {
    width: 32.759px;
    height: 32.759px;
  }
}

.footer {
  padding: 143px 0 46px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 35px 0 55px;
  }
}
.footer__logo {
  margin-bottom: 52px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 575px) {
  .footer__logo {
    max-width: 84px;
  }
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .footer-info {
    display: block;
    margin-left: 20px;
  }
}
@media screen and (max-width: 991px) {
  .footer-info {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer-info {
    margin-bottom: 30px;
  }
}
.footer-info__item {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 16px;
}
.footer-info__item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
  .footer-info__item:last-child {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer-info__item {
    align-items: center;
  }
}
.footer-info__item-hint {
  align-items: start;
}
@media screen and (max-width: 767px) {
  .footer-info__item-hint:last-child {
    align-items: start;
  }
}
.footer-info__item-hint .footer-info__icon {
  margin-top: 4px;
}
.footer-info__icon {
  width: 52px;
  height: 43px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-info__icon {
    width: 46px;
    height: 40px;
    margin-right: 9px;
  }
}
.footer-info__title {
  display: none;
}
@media screen and (max-width: 767px) {
  .footer-info__title {
    font-size: 16px;
    font-weight: 700;
    display: block;
  }
}
.footer-info__text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #030211;
}
@media screen and (max-width: 767px) {
  .footer-info__text {
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (max-width: 575px) {
  .footer-info__text.bordered {
    text-decoration: underline;
  }
}
.footer__line {
  margin: 37px 0 16px;
  height: 1px;
  width: 100%;
  background-color: #C1C1C1;
}
.footer__copyright {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}
.footer__map {
  position: relative;
}
.footer__map img {
  margin: 0 auto;
  display: block;
}