$black: #030211;
$black2: #484848;
$dark-grey: #7C7C7C;
$grey: #C1C1C1;
$orange: #F14A16;
$white: #FFFFFF;
$notification-error: #CC3237;
$notification-warning: #FF9514;
$notification-info: #80B2FF;
$notification-success: #00A300;