.btn {
  font-family: 'Nunito', sans-serif;
  min-width: 242px;
  background-color: $orange;
  color: $white;
  flex-shrink: 0;
  border-radius: 4px;
  transition: all 0.3s;
  display: block;
  text-align: center;
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding: 16px 63px;
  max-width: fit-content;
  cursor: pointer;
  border: 1px solid $orange;
  
  &:hover {
    background-color: $white;
    color: $black;
  }
  
  &--large {
    font-size: 24px;
    line-height: 27.216px;
  }
  
  &--xlarge {
    font-size: 32px;
  }
  
  @include sm-block {
    font-size: 14px;
    padding: 9px 25px;
  }
  
  &--white {
    background-color: $white;
    color: $black;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}