h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 83.088px;
  @include xl-block {
    font-size: 60px;
    line-height: normal;
  }
  @include lg-block {
    font-size: 46px;
  }
  @include sm-block {
    font-size: 24px;
  }
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 83.088px;
  @include lg-block {
    font-size: 40px;
    line-height: normal;
  }
  @include sm-block {
    font-size: 24px;
  }
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 27.216px;
  @include sm-block {
    font-weight: 700;
    font-size: 20px;
  }
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}